@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    /* #f8fafc slate-50 - Gris ordenado y estático */
    --foreground: 222.2 84% 4.9%;
    /* Slate-900 */
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 211 100% 50%;
    /* #007BFF - Azul eléctrico */
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 20%;
    /* #333333 - Gris oscuro */
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;
    --accent: 120 61% 50%;
    /* #32CD32 - Verde lima */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 211 100% 50%;
    --radius: 1rem;
    --navbar-bg: 0 0% 100%;
  }

  .dark {
    --background: 0 0% 4%;
    /* #0A0A0A - Negro profundo */
    --foreground: 0 0% 98%;
    --card: 0 0% 7%;
    /* #121212 */
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 211 100% 50%;
    /* #007BFF - Azul eléctrico */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 20%;
    /* #333333 - Gris oscuro */
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 120 61% 50%;
    /* #32CD32 - Verde lima */
    --accent-foreground: 0 0% 4%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    /* #333333 - Bordes Gris oscuro */
    --input: 0 0% 20%;
    --ring: 211 100% 50%;
    --navbar-bg: 0 0% 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}